{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for producto in productos %}
        <div class="col-3">
            <div class="card">
                <img src="{{ producto.imagen.url }}" class="card-img-top float-start">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <div class="price-container">
                        <p class="card-title"> {{ producto.precio }}
                        </p>
                        <p class="card-title product-price"> {{ producto.descuento }}</p>
                    </div>
                    <p class="card-text">
                        {{ producto.categoria }}
                    </p>
                    <a class="btn btn-tomato" href={% url 'obtener_producto' id=producto.id %}>Leer más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}