{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="row product-detail-row mt-4 mb-5">
            <div class="col-5">
                <img src="{{ producto.imagen.url }}"
                     class="img-fluid"
                     height="">
            </div>
            <div class="col-7">
                <div class="jumbotron">
                    <h1 class="display-4">{{ producto.nombre }}</h1>
                    <div class="price-container">
                            <h5 class="card-title">{{ producto.precio }}</h5>

                    </div>
                    <hr class="my-4">
                    <p>
                        {{ producto.marca.descripcion}}
                    </p>

                    <a class="btn btn-tomato" href="/">Añadir al carrito</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}