<!--Este es un comentario-->
<!--Para que VSC esciba por si solo esta maqueta de html solo se escribe: ! y se pulsa enter-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Usamos una de las funcionalidades de jinja, el título de la página se modifica desde la vista no desde la plantilla del html-->
    <title>{{data.titulo}}</title>
</head>
<body>
    <!--Dentro del cuerpo del html se escribe el mensaje-->
    <h1>{{data.encabezado}}</h1>
    <p>Bienvenido</p>
</body>
</html>
